script.
  import {TodoStore} from "../stores/todo";
  import {TodoListData, TodoItemData} from "../data/todo";
  import {TodoTextInput} from "./todotextinput";
//  import React = require("react");
//  import {declareView} from "../../../lib/h5flux";

reference(todo: TodoStore)
property(placeholder: string)
property(item: TodoItemData= {id: 0, text: '', marked: false})

input(
  class={
      'edit': item.id > 0,
      'new-todo': item.id == 0
  }
  type='text'
  placeholder=placeholder
  autoFocus=true
  value=item.text
  onChange = function(e:any) {
    this.setState( view: {
      id: item.id;
      text: e.target.value;
    });      
  }
  onBlur=function(e:any) {
      item.text = e.target.value.trim();
  }
  onKeyDown = handleSubmit
)
script.
  function handleSubmit(e:any) {
    if (e.which === 13) {
        item.text = (e.target as any).value.trim();
        if (view.id == 0)
            todo.addTodo(text);
        else
            todo.editTodo([view.id, text]);
        this.setState( view: {
          id: 0;
          text: '';
        });
    }
  }
